@import './_reset'
@import './_pattern'
@import './_responsive'

header
  nav
    .social-nav
      background-color: #ddc0a6
      padding: 3rem 0
      .container
        img
          position: absolute
          top: 1.7rem
        .logo-nav-img
          display: flex
        .social-nav-itens
          padding: 1rem 0
          display: flex
          gap: 1rem
          justify-content: end
          align-items: center
          color: #001b64
          a
            color: #001b64
        .links-nav-itens
          display: flex
          justify-content: space-between
          align-items: center
          ul
            display: flex
            gap: 2rem
            li
              a
                color: #001b64
                &::hover
                  border-bottom: solid 2px #001b64
                  transition: all 0.2s

@media only screen and (max-width: 768px)
  .social-nav-itens
    display: none !important
  .links-nav-itens
    display: none !important
  .social-nav
    padding: 7rem 0 !important