*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 62.5%
  scroll-behavior: smooth
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed

body
  font-size: 1.8rem
  -webkit-font-smoothing: antialiased
  width: 100%
  font-family: 'Poppins'
  // background-image: url("/resources/assets/img/floral-simples.jpg")
  // background-position: center
  // background-repeat: no-repeat
  // background-size: cover
  // background-attachment: fixed
  &::before
    content: ""
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(255, 255, 255, 0.6)
    z-index: -1

img
  max-width: 100%
  display: block

button
  border: none
  outline: none
  cursor: pointer
p
  font-weight: 400
  font-size: 1.6rem
  line-height: 2.4rem
  // letter-spacing: 1.5px
input
  border: none
  border-radius: 5px

a
  text-decoration: none
  font-size: 1.6rem

li
  list-style: none

span
  font-size: 1.6rem

h2
  color: #001b64
  
.container
  width: 70%
  margin: 0 auto
