* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  font-family: "Poppins";
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

input {
  border: none;
  border-radius: 5px;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

span {
  font-size: 1.6rem;
}

h2 {
  color: #001b64;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90% !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  font-family: "Poppins";
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

input {
  border: none;
  border-radius: 5px;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

span {
  font-size: 1.6rem;
}

h2 {
  color: #001b64;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90% !important;
  }
}
header nav .social-nav {
  background-color: #ddc0a6;
  padding: 3rem 0;
}
header nav .social-nav .container img {
  position: absolute;
  top: 1.7rem;
}
header nav .social-nav .container .logo-nav-img {
  display: flex;
}
header nav .social-nav .container .social-nav-itens {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
  justify-content: end;
  align-items: center;
  color: #001b64;
}
header nav .social-nav .container .social-nav-itens a {
  color: #001b64;
}
header nav .social-nav .container .links-nav-itens {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .social-nav .container .links-nav-itens ul {
  display: flex;
  gap: 2rem;
}
header nav .social-nav .container .links-nav-itens ul li a {
  color: #001b64;
}
header nav .social-nav .container .links-nav-itens ul li a::hover {
  border-bottom: solid 2px #001b64;
  transition: all 0.2s;
}

@media only screen and (max-width: 768px) {
  .social-nav-itens {
    display: none !important;
  }
  .links-nav-itens {
    display: none !important;
  }
  .social-nav {
    padding: 7rem 0 !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  font-family: "Poppins";
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

input {
  border: none;
  border-radius: 5px;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

span {
  font-size: 1.6rem;
}

h2 {
  color: #001b64;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90% !important;
  }
}
.s-banner-home {
  margin-top: -4rem;
  margin-bottom: 8rem;
}
.s-banner-home .container .content-banner-home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;
  gap: 3rem;
}
.s-banner-home .container .content-banner-home .img-banner-home img {
  height: 30rem;
  border-radius: 30px 0 30px 0;
}
.s-banner-home .container .content-banner-home .text-banner-home {
  background: #fff;
  padding: 5rem 3rem;
  border-radius: 0 30px 0 30px;
}
.s-banner-home .container .content-banner-home .text-banner-home img {
  width: 12rem;
}
.s-banner-home .container .content-banner-home .text-banner-home .link-banner-home {
  margin-top: 2rem;
}
.s-banner-home .container .content-banner-home .text-banner-home .link-banner-home a {
  padding: 1rem 2rem;
  background-color: #ddc0a6;
  color: #fff;
  border-radius: 100px;
}

@media only screen and (max-width: 768px) {
  .content-banner-home {
    flex-direction: column !important;
    gap: 0 !important;
    text-align: center !important;
  }
  .text-banner-home {
    width: 100% !important;
  }
  .img-banner-home img {
    height: 45rem !important;
  }
  .s-banner-home {
    margin-bottom: 3rem !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  font-family: "Poppins";
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

input {
  border: none;
  border-radius: 5px;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

span {
  font-size: 1.6rem;
}

h2 {
  color: #001b64;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90% !important;
  }
}
.s-sobre {
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.s-sobre .container .content-sobre {
  display: flex;
  flex-direction: column-reverse;
}
.s-sobre .container .content-sobre .box-sobre {
  display: flex;
  gap: 4rem;
}
.s-sobre .container .content-sobre .box-sobre .box-left-sobre {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.s-sobre .container .content-sobre .box-sobre .box-left-sobre strong {
  color: #ddc0a6;
}
.s-sobre .container .content-sobre .box-sobre .box-left-sobre .box-left-check-itens {
  margin-top: 2rem;
}
.s-sobre .container .content-sobre .box-sobre .box-left-sobre .contato-sobre-left {
  margin-top: 3rem;
}
.s-sobre .container .content-sobre .box-sobre .box-left-sobre .contato-sobre-left a {
  padding: 1rem 2rem;
  border: 2px solid #ddc0a6;
  border-radius: 100px;
  color: #ddc0a6;
}
.s-sobre .container .content-sobre .box-sobre .box-right-sobre img {
  height: 48rem;
  border-radius: 0 30px 0 30px;
}
.s-sobre .container .content-sobre .box-numeros-sobre {
  background: #ddc0a6;
  display: flex;
  margin: 10rem 0;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  color: #fff;
  border-radius: 30px 0 30px 0;
}
.s-sobre .container .content-sobre .box-numeros-sobre .itens-numeros-sobre {
  border-right: 2px solid #fff;
  padding: 1rem 3rem;
}
.s-sobre .container .content-sobre .box-numeros-sobre .itens-numeros-sobre .number-sobre {
  font-size: 3.5rem;
}
.s-sobre .container .content-sobre .box-numeros-sobre .itens-numeros-sobre .iten-sobre {
  margin-left: -1rem;
}
.s-sobre .container .content-sobre .box-numeros-sobre .last-itens-numeros-sobre {
  border-right: none;
}
.s-sobre .container .content-sobre .video-sobre-apresentation {
  text-align: center;
  margin-bottom: 10rem;
}
.s-sobre .container .content-sobre .video-sobre-apresentation strong {
  color: #ddc0a6;
}
.s-sobre .container .content-sobre .video-sobre-apresentation .item-video-sobre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-sobre .container .content-sobre .video-sobre-apresentation .item-video-sobre video {
  margin-top: 3rem;
  border-radius: 30px 0 30px 0;
}

@media only screen and (max-width: 768px) {
  .box-sobre {
    flex-direction: column !important;
  }
  .box-left-sobre {
    width: 100% !important;
  }
  .box-right-sobre {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  font-family: "Poppins";
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

input {
  border: none;
  border-radius: 5px;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

span {
  font-size: 1.6rem;
}

h2 {
  color: #001b64;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90% !important;
  }
}
.s-galeria {
  margin-top: 5rem;
}
.s-galeria .container .content-galeria .link-galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.s-galeria .container .content-galeria .link-galeria button {
  padding: 1rem 2rem;
  border: 2px solid #ddc0a6;
  border-radius: 100px;
  color: #ddc0a6;
  background: #fff;
  font-size: 1.8rem;
}
.s-galeria .container .content-galeria strong {
  color: #ddc0a6;
}
.s-galeria .container .content-galeria .box-galeria {
  -moz-column-count: 4;
       column-count: 4;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.s-galeria .container .content-galeria .box-galeria img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.divisoria-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4rem;
  margin-bottom: 2rem;
}

.divisoria-sections2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.link-galeria-insta {
  gap: 2rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.link-galeria-insta i {
  font-size: 3rem;
}
.link-galeria-insta a {
  padding: 1rem 2rem;
  border: 2px solid #ddc0a6;
  border-radius: 100px;
  color: #ddc0a6;
  background: #fff;
  font-size: 1.8rem;
}

@media only screen and (max-width: 768px) {
  .box-galeria {
    -moz-column-count: 3 !important;
         column-count: 3 !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  font-family: "Poppins";
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

input {
  border: none;
  border-radius: 5px;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

span {
  font-size: 1.6rem;
}

h2 {
  color: #001b64;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90% !important;
  }
}
.s-servicos .container .content-servicos strong {
  color: #ddc0a6;
}
.s-servicos .container .content-servicos .box-servicos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-servicos .container .content-servicos .box-servicos .left-servicos {
  width: 40%;
  -moz-column-count: 2;
       column-count: 2;
  gap: 4rem;
}
.s-servicos .container .content-servicos .box-servicos .left-servicos img {
  border-radius: 4px;
  padding: 2rem 5rem;
  background: #ddc0a6;
  margin-top: 2rem;
}
.s-servicos .container .content-servicos .box-servicos .right-servicos {
  width: 60%;
  padding-left: 4rem;
}
.s-servicos .container .content-servicos .link-servicos {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-servicos .container .content-servicos .link-servicos a {
  padding: 1rem 2rem;
  border: 2px solid #ddc0a6;
  border-radius: 100px;
  color: #ddc0a6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  font-family: "Poppins";
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

input {
  border: none;
  border-radius: 5px;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

span {
  font-size: 1.6rem;
}

h2 {
  color: #001b64;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90% !important;
  }
}
.s-depoimentos .container .content-depoimentos strong {
  color: #ddc0a6;
}
.s-depoimentos .container .content-depoimentos .box-depoimentos {
  display: flex;
  gap: 4rem;
}
.s-depoimentos .container .content-depoimentos .box-depoimentos .item-depoimento {
  margin-top: 3rem;
  height: 43rem;
  width: 40rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}
.s-depoimentos .container .content-depoimentos .box-depoimentos .item-depoimento img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  margin-top: 2rem;
}
.s-depoimentos .container .content-depoimentos .box-depoimentos .item-depoimento .text-depoimento {
  margin-top: 0.5rem;
  padding: 2rem;
  font-size: 1.4rem;
}
.s-depoimentos .container .content-depoimentos .box-depoimentos .item-depoimento .text-depoimento span {
  font-size: 4rem;
}
.s-depoimentos .container .content-depoimentos .box-depoimentos .item-depoimento .name-depoimento {
  margin-top: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  font-family: "Poppins";
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

input {
  border: none;
  border-radius: 5px;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

span {
  font-size: 1.6rem;
}

h2 {
  color: #001b64;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90% !important;
  }
}
.s-contato {
  margin-bottom: 10rem;
}
.s-contato .container .content-contato strong {
  color: #ddc0a6;
}
.s-contato .container .content-contato .box-contato {
  display: flex;
  gap: 4rem;
}
.s-contato .container .content-contato .box-contato .box-left-contato {
  width: 60%;
}
.s-contato .container .content-contato .box-contato .box-left-contato .form-contato {
  background: #ddc0a6;
  width: 100%;
  height: auto;
  border-radius: 0 30px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  color: #fff;
}
.s-contato .container .content-contato .box-contato .box-left-contato .form-contato button {
  padding: 1rem 2rem;
  border: 2px solid #fff;
  border-radius: 100px;
  background: #ddc0a6;
  color: #fff;
  width: 100%;
  margin-top: 2rem;
}
.s-contato .container .content-contato .box-contato .box-left-contato .form-contato .form-row {
  display: flex;
  gap: 4rem;
}
.s-contato .container .content-contato .box-contato .box-left-contato .form-contato .form-row .form-column {
  display: flex;
  flex-direction: column;
}
.s-contato .container .content-contato .box-contato .box-left-contato .form-contato .form-row .form-column input {
  padding: 1rem;
  border-radius: 50px;
  margin-bottom: 1rem;
}
.s-contato .container .content-contato .box-contato .box-right-contato {
  width: 40%;
}
.s-contato .container .content-contato .box-contato .box-right-contato img {
  margin-top: -4rem;
}
.s-contato .container .content-contato .box-contato .box-right-contato h3 {
  color: #001b64;
}

#mensagem {
  height: 8rem;
  width: 100%;
  border-radius: 15px;
}

@media only screen and (max-width: 768px) {
  .box-contato {
    flex-direction: column !important;
    width: 100% !important;
  }
  .box-left-contato {
    width: 100% !important;
  }
  .box-right-contato {
    width: 100% !important;
    text-align: center !important;
  }
  .box-right-contato iframe {
    max-width: 100% !important;
  }
  .form-row {
    flex-direction: column !important;
    gap: 0 !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  font-family: "Poppins";
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

input {
  border: none;
  border-radius: 5px;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

span {
  font-size: 1.6rem;
}

h2 {
  color: #001b64;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90% !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  font-family: "Poppins";
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

input {
  border: none;
  border-radius: 5px;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

span {
  font-size: 1.6rem;
}

h2 {
  color: #001b64;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90% !important;
  }
}
.s-footer {
  background: #ddc0a6;
  padding: 4rem 0;
  color: #fff;
}
.s-footer .container .content-footer {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  white-space: nowrap;
}
.s-footer .container .content-footer .box-left-footer strong {
  color: #fff;
}
.s-footer .container .content-footer .box-left-footer .icons-social-footer {
  margin-top: 1rem;
}
.s-footer .container .content-footer .box-left-footer .icons-social-footer a {
  color: #fff;
}
.s-footer .container .content-footer .box-left-footer .icons-social-footer a i {
  font-size: 3rem;
  margin: 0.5rem;
}
.s-footer .container .content-footer .box-right-footer {
  display: flex;
}
.s-footer .container .content-footer .box-right-footer .itens-footer-right {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}
.s-footer .container .content-footer .box-right-footer .itens-footer-right strong {
  margin-bottom: 1rem;
}
.s-footer .container .content-footer .box-right-footer .itens-footer-right a {
  color: #fff;
}
.s-footer .container .content-footer .box-right-footer .itens-footer-right span i {
  margin-right: 0.8rem;
}
.s-footer .container .content-footer .box-right-footer .itens-footer-right span a {
  padding: 2rem 0;
}

@media only screen and (max-width: 768px) {
  .content-footer {
    flex-direction: column !important;
    width: 100% !important;
    gap: 3rem !important;
    white-space: normal !important;
  }
  .box-left-footer {
    margin: 0 2rem !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  font-family: "Poppins";
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

input {
  border: none;
  border-radius: 5px;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

span {
  font-size: 1.6rem;
}

h2 {
  color: #001b64;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90% !important;
  }
}
.s-whatsAppButton .whatsapp-link {
  position: fixed;
  bottom: 3rem;
  right: 4rem;
  background-color: #25D366;
  color: #FFF;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 30px;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}
.s-whatsAppButton .whatsapp-link:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px #25D366;
}
.s-whatsAppButton .whatsapp-link .whatsapp-icon {
  font-size: 4rem;
  margin-top: 2px;
}/*# sourceMappingURL=main.css.map */